<div class="main-content">
    <div class="shadow-box">

        <button class="add-loan-button" (click) ="openPayModal()">PAY LOAN</button>
        <!-- <button class="del-loan-button" (click) = "deleteLoan()" *ngIf="selectedLoans.size > 1">DELETE {{selectedLoans.size}} LOANS</button> -->
    </div>


       <!-- MAKE PAYMENT POPUP WINDOW -->
       <div class="modal-overlay-pay-loan" *ngIf="showPayModal" (click)="closePayModal()">
        <div class="modal-content-pay-loan" (click)="$event.stopPropagation()">
            
          <!-- Modal Header -->
          <div class="modal-header">
            <h2>Pay Loan</h2>
            <button class="close-btn" (click)="closePayModal()" title="Close">×</button>
          </div>
    
          <!-- CUSTOMER FORM -->
          <form [formGroup]="payForm" (ngSubmit)="payLoan()" class="pay-form">


            <!-- FIRST NAME
            <div class="form-group">
              <label for="searchTerm">Customer</label>
              <input 
                id="customerId"
               
                (input)="searchCustomers()"
                type="text"
                formControlName="customerId"
                placeholder="Search by Name, Phone NUmber, or National ID"
                autocomplete="off"
                [value]="searchTerm"        
                (focus)="searchCustomers()"
              >
              <ul class="customer-dropdown" *ngIf="filteredCustomers.length > 0">
                <li *ngFor="let customer of filteredCustomers" (click)="selectCustomer(customer)">
                  {{customer.id}} {{ customer.firstname }} {{ customer.lastname }} - {{ customer.nationalid }}
                </li>
              </ul>
            </div> -->


            <!-- LOAN -->
            <div class="form-group">
                <label for="searchTerm">Loan</label>
                <input 
                  id="id"
                 (input)="searchLoan()"
                  type="text"
                  formControlName="id"
                  placeholder="Search by Loan ID or Principal Amount"
                  autocomplete="off"
                  [value]="searchTerm"        
                  (focus)="searchLoan()"
                >
                <ul class="loan-dropdown" *ngIf="filteredLoans.length > 0">
                  <li *ngFor="let loan of filteredLoans" (click)="selectLoan(loan)">
                    {{loan.id}}
                    <!-- {{loan.id}} => {{ loan.amount }} Ksh -->
                  </li>
                </ul>
              </div>

           
    
            <!--  AMOUNT BEING PAID-->
            <div class="form-group">
              <label for="amount">AMOUNT</label>
              <input 
                id="amount"
                type="text"
                formControlName="amount"
                placeholder="Ksh"
              >
            </div>
      
    
            <!-- SUBMIT BUTTON -->
            <button
              class="submit-btn"
              (click) = "payLoan()"
              >
              Pay Loan
            </button>
          </form>
        </div>
      </div>






</div>
