<head>
    
    <link rel="stylesheet" href="">
</head>
<div class="main-content">
    <div class="shadow-box">
        
        <button class="add-loan-button" (click) = "openCreateModal()" *ngIf="selectedLoans.size < 2" >NEW LOAN</button>
        <button class="del-loan-button" (click) = "deleteLoan()" *ngIf="selectedLoans.size > 1">DELETE {{selectedLoans.size}} LOANS</button>
    </div>

    <!-- LOAN DISPLAY TABLE -->

    <div class="loan-table-box">
        <h2>Loans</h2>

        <div class="table-container" >
            <table>
                <!-- TABLE HEADER ROW -->
                <thead>
                    <tr>
                        <th>
                            <input 
                            type="checkbox" 
                            [checked] = "selectAll"
                            (change) = "toggleSelectAll()"
                            title="Select All Loans">

                        </th>
                        <!-- COLUMN HEADERS -->
                        <th
                            *ngFor = "let column of ['loan Id', 'Principal Amount', 'Interest Rate','Repayment Period','Status']"
                            (click) = "sort($any(column))"
                            class = "sortable"
                            [attr.title]=" 'Sort by' + column">
                            {{column | titlecase}}
                            <span class="sort-icon" *ngIf = "sortColumn === column">
                                {{sortDirection ==='asc' ? '▲' : '▼'}}
                            </span>
                        </th>
                        <th *ngIf="selectedLoans.size < 2" >Actions</th>                            
                    </tr>
                </thead>

                <!-- TABLE BODY -->
                <tbody>
                    <tr *ngFor="let loan of displayedLoans">

                        <!-- SELECTION CHECKBOXES -->
                        <td>
                            <input 
                                type="checkbox"
                                [checked] = "selectedLoans.has(loan.id)"
                                (change) = "toggleSelect(loan.id)"
                                [attr.title] = "'Select' + loan.id">
                        </td>

                        <!-- LOAN DATA -->
                        <td>{{loan.id}}</td>
                        <!-- <td>{{loan.customerid}}</td> -->
                        <td>{{loan.principalAmount}}</td>
                        <td>{{loan.interestRate}}</td>
                        <td>{{loan.repaymentPeriod}}</td>
                        <td>{{loan.status}}</td>
                        
                        
                        
                        <!-- ACTION BUTTON FOR EACH CUSTOMER ROW -->
                        <td class="actions" *ngIf="selectedLoans.size < 2" >
                            <button 
                                class="edit-loan-btn"
                                (click) = "editLoan(loan)"
                                title="Edit"
                                > Edit 
                            </button>
                            <button
                                class="del-loan-btn"
                                (click) = "deleteLoan(loan)"
                                title="Delete"
                                > Delete
                            </button>
                        </td>
                    </tr>


                </tbody>
            </table>
            <div class="pagination"></div>
        </div>
    
    </div>

    <!-- CREATE LOAN POPUP WINDOW -->
    <div class="modal-overlay-create-loan" *ngIf="showCreateModal" (click)="closeCreateModal()">
        <div class="modal-content-create-loan" (click)="$event.stopPropagation()">
            
          <!-- Modal Header -->
          <div class="modal-header">
            <h2>Create New Loan</h2>
            <button class="close-btn" (click)="closeCreateModal()" title="Close">×</button>
          </div>
    
          <!-- CUSTOMER FORM -->
          <form [formGroup]="loanForm" (ngSubmit)="createLoan()" class="customer-form">


            <!-- FIRST NAME-->
            <div class="form-group">
              <label for="searchTerm">Customer</label>
              <input 
                id="customerId"
               
                (input)="searchCustomers()"
                type="text"
                formControlName="customerId"
                placeholder="Search by Name, Phone NUmber, or National ID"
                autocomplete="off"
                [value]="searchTerm"        
                (focus)="searchCustomers()"
              >
              <ul class="customer-dropdown" *ngIf="filteredCustomers.length > 0">
                <li *ngFor="let customer of filteredCustomers" (click)="selectCustomer(customer)">
                  {{customer.id}} {{ customer.firstname }} {{ customer.lastname }} - {{ customer.nationalid }}
                </li>
              </ul>
            </div>

           
    
            <!-- PRINCIPAL AMOUNT -->
            <div class="form-group">
              <label for="principalAmount">Principal Amount</label>
              <input 
                id="principalAmount"
                type="text"
                formControlName="principalAmount"
                placeholder="Enter Principal Amount"
              >
            </div>
              
    
            <!-- INTEREST RATE -->
            <div class="form-group">
              <label for="interestRate">Interest Rate</label>
              <input 
                id="interestRate"
                type="text"
                formControlName="interestRate"
                placeholder="Enter Interest in %"
              >
            </div>
         
    
            <!-- REPAYMENT PERIOD -->
            <div class="form-group">
              <label for="repaymentPeriod">Repayment Period</label>
              <input 
                id="repaymentPeriod"
                type="tel"
                formControlName="repaymentPeriod"
                placeholder="Repayment period in months"
              >
            </div>

           
            <!-- DUE DATE -->
            <div class="form-group">
                <label for="duedate">Due Date</label>
                <input 
                  id="duedate"
                  type="date"
                  formControlName="duedate"
                  placeholder=""
                >
             </div>
              <!-- LOAN STATUS -->
             <div class="form-group">
                <label for="status">Loan Status</label>
                <select id="status" formControlName="status" name="status">
                  <option value="ACTIVE">ACTIVE</option>
                  <option value="PENDING">PENDING</option>
                  <option value="DISBURSED">DISBURSED</option>
                  <option value="IN REPAYMENT">IN REPAYMENT</option>
                  <option value="DEFAULTED">DEFAULTED</option>
                </select>
            </div>

          
    
            <!-- SUBMIT BUTTON -->
            <button 
            
              
              class="submit-btn"
              (click) = "createLoan()"
              >
              Create Loan
            </button>
          </form>
        </div>
      </div>


       <!-- EDIT LOAN POPUP WINDOW -->
    <div class="modal-overlay-edit-loan" *ngIf="isEditModalOpen" tabindex="-1" role="dialog" (click)="closeEditModal()">

      <div class="modal-content-edit-loan" (click)="$event.stopPropagation()">
          
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Edit Loan</h2>

            <!-- CLOSE BUTTON -->
          <button class="close-btn" (click)="closeEditModal()" title="Close">×</button>
        </div>
  
        <!-- EDIT LOAN FORM -->
        <form #loanForm="ngForm" class="editLoanForm">

  
          <!-- PRINCIPAL AMOUNT -->
      
          <div class="form-group">
            <label for="principalAmount">Principal Amount</label>
            <input type="number" class="form-control" id="principalAmount" 
                   [(ngModel)]="edit_selected_loan.principalAmount" name="principalAmount" required>
          </div>
            
  
          <!-- INTEREST RATE -->
          <div class="form-group">
            <label for="interestRate">Interest Rate</label>
            <input type="number" class="form-control" id="interestRate" 
                   [(ngModel)]="edit_selected_loan.interestRate" name="interestRate" required>
          </div>
       
  
          <!-- REPAYMENT PERIOD -->
          <div class="form-group">
            <label for="repaymentPeriod">Repayment Period</label>
            <input type="number" class="form-control" id="repaymentPeriod" 
                   [(ngModel)]="edit_selected_loan.repaymentPeriod" name="repaymentPeriod" required>
          </div>
       

           
          <!-- LOAN STATUS -->
   

          <div class="form-group">
            <label for="status">Loan Status</label>
               <select [(ngModel)]="edit_selected_loan.loan_status" id="status" >
              <option [ngValue]="edit_selected_loan.loan_status" disabled selected> {{edit_selected_loan.status}} </option>
              <option value="ACTIVE"  *ngIf="edit_selected_loan.status !== 'ACTIVE'"> ACTIVE </option>  
              <option value="PENDING" *ngIf="edit_selected_loan.status !== 'PENDING'">PENDING</option>
              <option value="DISBURSED" *ngIf="edit_selected_loan.status !== 'DISBURSED'">DISBURSED</option>
              <option value="IN REPAYMENT" *ngIf="edit_selected_loan.status !== 'INREPAYMENT'">IN REPAYMENT</option>
              <option value="IN REPAYMENT" *ngIf="edit_selected_loan.status !== 'PAID OFF'">PAID OFF</option>
              <option value="DEFAULTED" *ngIf="edit_selected_loan.status !== 'DEFAULTED'">DEFAULTED</option>
            </select>
          </div>

        </form>
      
        
        <button class="submit-btn" (click)="saveChanges()" 
                [disabled]="!editLoanForm.valid">Save changes</button>
    
    </div>

    <div class="modal-backdrop fade show" *ngIf="isEditModalOpen"></div>
        
  </div>
      
    
